body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    background-color: #0f0f0f;
    transition: transform 1s ease-in-out;
}

/* index.html */
.landing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo {
    color: #e50914;
    font-size: 15rem;
    transition: transform 1s ease-in-out;
    transform-origin: center;
    margin-bottom: 0px;
    padding: 0;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
}

.tagline {
    color: white;
    font-size: 2rem;
    margin-top: 0px;
    transition: opacity 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 1.2rem;
}

.zoom {
    transform: scale(200);
    transition: transform 2s ease-in-out;
}

.fade-out {
    opacity: 0;
}

/* login.html */
.login-body {
    background-color: #0f0f0f;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* NAVBAR */
.navbar {
    position: absolute;
    top: 20px;
    left: 40px;
    right: 40px;
    display: flex;
    justify-content: space-between;
}

.logo-small {
    color: #e50914;
    font-weight: 800;
    font-size: 2rem;
}

.signin-btn {
    background: #e50914;
    border: none;
    padding: 8px 18px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

/* CENTER */
.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    opacity: 0;
    animation: fadeIn 0.8s ease forwards;
}

@keyframes fadeIn {
    to { opacity: 1; }
}

.main-heading {
    font-size: 5.5rem;
    font-weight: 800;
    margin: 0;
    line-height: 1.25;
    margin-bottom: 0;
    letter-spacing: 3px;
}

.subtext {
    margin: 15px 0 30px 0;
    color: #cccccc;
    font-weight: 500;
}

/* INPUTS */
.email-section {
    display: flex;
    gap: 10px;
}

.email-section input {
    padding: 12px;
    width: 300px;
    border-radius: 4px;
    border: none;
}

.email-section button {
    background: #e50914;
    border: none;
    padding: 12px 20px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.extra-fields {
    margin-top: 15px;
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 440px;
    align-items: flex-start;
}

.full-input {
    padding: 12px;
    border-radius: 4px;
    border: none;
    width: 100%;
}

.password-row {
    display: flex;
    gap: 10px;
}

.password-input {
    flex: 1;
    padding: 12px;
    border-radius: 4px;
    border: none;
}

.password-row button {
    background: #e50914;
    border: none;
    padding: 12px 18px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.extra-fields input {
    padding: 12px;
    width: 170px;
    border-radius: 4px;
    border: none;
    background-color: #afa8a8;
    color: #373737;
    font-weight: 300;
}

.extra-fields button {
    background: #e50914;
    border: none;
    padding: 12px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}